[submodule "1st-semester/discrete-mathematics/lab1"]
	path = 1st-semester/discrete-mathematics/lab1
	url = https://github.com/ruddnevitmo/s1-dm-lab1
	branch = main
[submodule "1st-semester/mathematical-analysis/colloquium"]
	path = 1st-semester/mathematical-analysis/colloquium
	url = https://github.com/ruddnevitmo/s1-ma-colloquium
	branch = main
[submodule "1st-semester/programming-labs/lab1"]
	path = 1st-semester/programming-labs/lab1
	url = https://github.com/ruddnevitmo/s1-prog-lab1
	branch = main
[submodule "1st-semester/programming-labs/lab2"]
	path = 1st-semester/programming-labs/lab2
	url = https://github.com/ruddnevitmo/s1-prog-lab2
	branch = main
[submodule "1st-semester/programming-labs/lab3"]
	path = 1st-semester/programming-labs/lab3
	url = https://github.com/ruddnevitmo/s1-prog-lab3
	branch = main
