[submodule "1st-semester/discrete-mathematics/lab1"]
	path = 1st-semester/discrete-mathematics/lab1
	url = https://github.com/ruddnevitmo/s1-dm-lab1
	branch = main
[submodule "1st-semester/mathematical-analysis/colloquium"]
	path = 1st-semester/mathematical-analysis/colloquium
	url = https://github.com/ruddnevitmo/s1-ma-colloquium
	branch = main
[submodule "1st-semester/programming/lab1"]
	path = 1st-semester/programming/lab1
	url = https://github.com/ruddnevitmo/s1-prog-lab1
	branch = main
[submodule "1st-semester/programming/lab2"]
	path = 1st-semester/programming/lab2
	url = https://github.com/ruddnevitmo/s1-prog-lab2
	branch = main
[submodule "1st-semester/programming/lab3"]
	path = 1st-semester/programming/lab3
	url = https://github.com/ruddnevitmo/s1-prog-lab3
	branch = main
[submodule "1st-semester/programming/lab4"]
	path = 1st-semester/programming/lab4
	url = https://github.com/ruddnevitmo/s1-prog-lab4
	branch = main
[submodule "1st-semester/linear-algebra/exam"]
	path = 1st-semester/linear-algebra/exam
	url = https://github.com/ruddnevitmo/s1-lin-exam
	branch = main
[submodule "2nd-semester/programming/lab5"]
	path = 2nd-semester/programming/lab5
	url = https://github.com/ruddnevitmo/s2-prog-lab5
	branch = main
